.App {
  text-align: center;
}

.App button {
  margin: 1px;
  padding: 5px;
  border-color: transparent;
  background: #000000;
  text-decoration: none;
  color: #ccc;
}

.App button:hover {
  color: #fff;
}

.App button:active {
  text-decoration: underline;
  color: #fff;
}

.App ul {
  list-style-type: none;
}

.App .bold {
  font-weight: bold;
}
