.App {
    text-align: center;

    button {
        margin: 1px;
        padding: 5px;
        border-color: transparent;
        background: #000000;
        text-decoration: none;
        color: #ccc;

        &:active {
            text-decoration: underline;
            color: #fff;
        }

        &:hover {
            color: #fff;
        }
    }
    
    
    ul {
        list-style-type: none;
    }

    .bold {
        font-weight: bold;
    }

    .pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;

        button {
            padding: 7px;
        }
    }
}




